@using Twitspionage.Models
@model Twitspionage.Models.MysteryDetail
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create a Mission</h3>

@using (Html.BeginForm())
{
    <div id="mystery">
        @Html.AntiForgeryToken()
        @foreach (var clueDetail in Model.Clues)
        {
            Html.RenderPartial("_Tweet", clueDetail);
        }
    </div>

    <span id="error" class="mdl-chip" style="display: none;">
        <span class="mdl-chip__text">@ViewBag.Error</span>
        <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
    </span>
    <br/>

    @Html.ActionLink("Add", "NewClueDetail", null, new { id = "addItem", @class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" })
    
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored submit">
        <i class="material-icons">send</i>
    </button>
}
<div class="mdl-progress mdl-js-progress mdl-progress__indeterminate" style="display: none;"></div>

<script type="text/javascript">
    $(function () {
        var currentLat, currentLon;
        if (navigator != null && navigator.geolocation != null) {
            navigator.geolocation.getCurrentPosition(function(position) {
                    currentLat = position.coords.latitude;
                    currentLon = position.coords.longitude;
                    setupFields();
                },
                function(position) {
                    console.log('Error getting location: ' + position.code);
                });
        }
        $("#addItem")
            .click(function() {
                $.ajax({
                    url: this.href,
                    cache: false,
                    success: function (html) {
                        $("#mystery").append(html);
                        setupFields();
                    }
                });
                return false;
            });

        $('.submit').click(function() {
            $('.mdl-progress').show();
            $('form').submit();
            $('form').hide();
        });

        function setupFields() {
            var elements = $(".deleteRow");
            elements.length > 1 ? elements.show() : elements.hide();
            elements
                .click(function() {
                    $(this).parents("fieldset:first").remove();
                    setupFields();
                    return false;
                });
            var error = $('.mdl-chip__text').html();
            if (error != null && error !== '') {
                $('#error').show();
                $('button, input, a').click(function () {
                    $('#error').hide();
                    $('#error').html('');
                });
            }
            if (componentHandler != null) {
                componentHandler.upgradeAllRegistered();
            }

            var maps = $('.map');
            maps.each(function (key, value) {
                var lat = $(value).parent('fieldset').find('.lat');
                var lon = $(value).parent('fieldset').find('.lon');
                var mapElem = $(value).html();
                if (mapElem == null || mapElem.trim() === '') {
                    createMap();
                }
                lat.change(createMap);
                lon.change(createMap);
                function createMap() {
                    var latitude = lat.val() != null && lat.val() !== '' ? lat.val() : currentLat;
                    var longitude = lon.val() != null && lon.val() !== '' ? lon.val() : currentLon;
                    success({ lat: latitude, lon: longitude });
                    $(value).googleMap({
                        coords: [latitude, longitude]
                    });
                    $(value).addMarker({
                        coords: [latitude, longitude],
                        draggable: true,
                        success: success
                    });
                    function success(e) {
                        lat[0].parentNode.MaterialTextfield.change(e.lat);
                        lon[0].parentNode.MaterialTextfield.change(e.lon);

                        if (componentHandler != null) {
                            componentHandler.upgradeAllRegistered();
                        }
                    }
                }
            });
        }
    });
</script>