@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Mission posted</h3>

<p>Mission successfully posted to Twitter.</p>

<a href="/" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">Back</a>