body {
    background-color: #EFEFEF;
}

.mdl-layout__content {
    padding: 0 32px;
}

.mdl-layout__header {
    box-sizing: border-box;
    background-position: 32px 15px;
    background-repeat: no-repeat;
    background-image: url(https://getmdl.io/assets/components.png);
}

* + .mdl-textfield, * + .mdl-button {
    margin-bottom: 10px;
}

.mdl-textfield, .submit {
    display: block;
}

.mdl-button--fab {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 1;
}

.mdl-progress {
    width: calc(100% - 140px);
    position: fixed;
    top: 50%;
    left: 0;
    margin: 0 60px;
}