body {
    background-color: #EFEFEF;
}

.mdl-layout__content {
    max-width: 1000px;
    margin: 0 auto;
}

.mdl-layout__content {
    padding: 0 32px;
}

.mdl-layout__header {
    box-sizing: border-box;
    background-position: 32px 15px;
    background-repeat: no-repeat;
    background-image: url(/content/header.png);
}

* + .mdl-textfield, * + .mdl-button, .mdl-chip {
    margin-bottom: 10px;
}

.mdl-textfield {
    display: block;
}

.mdl-button--fab {
    position: absolute;
    right: 24px;
    bottom: 24px;
    z-index: 1;
}

.mdl-progress {
    width: calc(100% - 140px);
    position: fixed;
    top: 50%;
    left: 0;
    margin: 0 60px;
}

.map {
    float: right;
    margin: 12px;
    max-width: 500px;
    width: 100%;
    height: 250px;
}

.fields {
    float: left;
}

fieldset {
    clear: both;
}

#blurb {
    max-width: 50%;
    float: right;
}

h3 {
    padding-top: 18px;
}

@media screen and (max-width: 900px) {
    .fields, .map, #blurb {
        float: none;
        max-width: 100%;
    }
}